<div class='container'>
  <div class='row chatroom'>
    <div class='col-md-3'>
      <%= render 'chatroom_info_sidebar' %>
    </div>
    <div class='col-md-9'>
      <%= render 'chatroom_messages', locals: { message: @message }%>
    </div>
  </div>
</div>